body{
    font-family: 'Open Sans', sans-serif;
}

.divider{
    height: 17px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 0;
    overflow: hidden;
    background-color: #2D87CC;
}
.navbar-grande{
    height: 125px;
}

.custom_nav .navbar.navbar-fixed-top .navbar-inner{
    background: rgba(255, 255, 255, 0.3);
}

.navbar{
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    top: 17.5;
    left: 0;
    right:0;
    padding: 16px;
    border: 0;
}

.nav.navbar-nav.navbar-right li a, .nav.navbar-nav li a, .nav.navbar-header.navbar-brand {
    color: #545454;
    font-size: 21px;
    line-height:62.5px;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

.nav-logo{
    padding-top:12.5px;
}

.img-banner{
    width:100%;
    position: absolute;
}

header {
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/bg.jpg');
  text-align: center;
  color: white;
}


header .header-content {
  position: absolute;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }


.bg-imagens{
    background-color: #06407C;
    color: white;
}

.bg-quote{
    padding-top: 50px;
    padding-bottom: 50px;
}


.quotation{
    font-size: 36px;
    quotes: "\201C""\201D""\2018""\2019";
    line-height: 1.4;
    color: #06407C;
    font-size: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

/* 

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -25%;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 25%;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}

*/


.quote-footer{
  margin:0;
  text-align: center;
  font-size: 0.5em;
  color: #c2c4c6;
}

.blue-bar{
    padding-left: 25px;
    padding-right: 25px;
    width:25%;
    left: 70%;
    bottom: 0;
    height: calc(100% - 125px);
    background: rgba(0, 50, 110, 0.8);
    color: white;
    position: absolute;
    display: table;
}

.texto-blue-bar{
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.low-opacity{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 1.6;
    font-weight: lighter;
}

.blue-bar-title{
    font-size: 18px;
}

.btn-sharp{
    border-radius: 0;
    height: 50px;
    line-height: 35px;
}