.inscrever {
	background-color: #0f95c1;
	height: 60%;
	color:white;

}

.cursos{
	height: 70%;
	font-weight: 100;
}
.noticias{
	height: 70%;
	font-weight: 100;
}

.noticias .media-object {
	height:95px; 
	width:160px;
}
.data{
font-family: 'Open Sans', sans-serif;
color:#ccc;
padding-top: 4%;
padding-bottom: 5%

}

.url {
	font-size: 25px;
	color: white;
	text-align: right;
	padding-top: 70%;
	padding-right: 4%;
}

.mais a{
	display: block;
	text-align: center;
	font-size: 18px;
	color: #1da4d1;
	font-weight: normal;
}
.fundo {
	width: 100%;
}


.fundo .ipce{
background-color: #204e8e;
color: white;
font-weight: normal;
padding-top: 2%;
padding-left: 3%;
}
.fundo .ipce p{
background-color: #204e8e;
color: #ccc;
font-weight: normal;
font-size: 15px;
padding-bottom: 2%;
padding-left: 6%;
text-align: left;
width: 70%;
}

.fundo .ipce h4{
font-weight: normal;
padding-bottom: 1%;
padding-left: 7%;
}
/* Para mudar para responsivo a imagem... mude para % o tamanho da imagem*/
.fundo .ipce .media-object {
	height:18%; 
	width:65%;
	padding-left: 6.7%;
}
.alvaro .container{
width: 90%;
padding-top: 80px;
}