.inscrever {
	background-color: #0f95c1;
	height: 540px;
	color:white;

}

.cursos{
	height: 570px;
	font-weight: 100;
}
.noticias{
	height: 570px;
	font-weight: 100;
}

.noticias .media-object {
	height:95px; 
	width:160px;
}
.data{
font-family: 'Open Sans', sans-serif;
color:#ccc;
padding-top: 12px;
}

.url {
	font-size: 25px;
	color: white;
	text-align: right;
	padding-top: 340px;
	padding-right: 20px;
}

.mais a{
	display: block;
	text-align: center;
	font-size: 18px;
	color: #1da4d1;
	font-weight: normal;
}
.fundo {
	width: 101.5%;
}


.fundo .ipce{
background-color: #204e8e;
color: white;
font-weight: normal;
padding-top: 20px;
}
.fundo .ipce p{
background-color: #204e8e;
color: #ccc;
font-weight: normal;
font-size: 15px;
padding-bottom: 30px;
text-align: left;
width: 85%;
}

.fundo .ipce h4{
font-weight: normal;
padding-bottom: 10px;

}

.fundo .ipce .media-object {
	height:161px; 
	width:214px;
}